body {
  background: linear-gradient(to right, #25c481, #25b7c4);
}
.main_container {
  margin: 50px;
  .header {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }

  .tbl-content {
    height: 100%;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid black;
    border-radius: 10px;
    table {
      width: 100%;
      table-layout: fixed;
      th {
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 13px;
        color: #fff;
        font-weight: bold;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
      }
      th:last-child {
        border-right: none;
      }
      td {
        padding: 15px;
        font-size: 12px;
        font-weight: 700;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid black;
      }

      td:last-child {
        border-right: none;
      }

      tr:hover {
        background-color: black;
        color: white;
        font-weight: bold;
      }
    }
  }
}

.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  gap: 13px;
}

.pagination > span {
  padding: 11px 16px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
}

.pagination > span:hover {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.pagination__disable {
  opacity: 0;
}

.pagination__selected {
  background-color: #4caf50 !important;
  font-weight: bold;
}
